<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="calibreFolder" value="C:\Program Files\Calibre2" />
		<add key="useSubmenu" value="True" />
		<add key="logThis" value="True" />
		<add key="verboseLog" value="False" />
		<add key="autoKillCalibre" value="False" />
		<add key="autoMerge" value="overwrite" />
		<add key="hiddenLibraries" value="" />
		<add key="language" value="" />
		<add key="skipSuccessMessage" value="False" />
		<add key="autoCalibreOpen" value="False" />
	</appSettings>
</configuration>
